<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>UpWards</title>
<link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/Img/favicon.ico?v=ec617d715196">
    <!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <style>
   .no_email {
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

</style>
</head>
<body>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <h1 class="navbar-brand p-2 flex-grow-1" href="#" style="color=green;">
      <img src="https://upwards.in/assets/img/upwards_logo.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
      UpMail
    </h1>

      <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" name="search"  placeholder="Search" aria-label="Search" value="{{ search }}">
      <button class="btn btn-outline-success"  type="submit" style="margin-right: 30px">Search</button>
    </form>
      <div class="me-2">
      <button type="submit" class="btn btn-outline-success" id="copy-button" onclick="displayMessage()">Copy Token</button>
      </div>
      <script>
         function displayMessage() {


             navigator.clipboard.writeText("{{ user.auth_token.key }}");
             var success = document.execCommand('copy');
             ('#copy-button').innerHTML='copied';

            }

      </script>

    <form method="post" action="/logout/">
       {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger me-2">Logout</button>
    </form>


  </div>
</nav>
 {% load inbox_templatetag %}
<nav class="navbar bg-light">
<nav class="nav nav-tabs ">
    <a class="nav-link {% if label == 'ALL' %}active{% endif %}" href="{{ url }}&label=ALL">All Mail</a>
  <a class="nav-link {% if label == 'PERSONAL' %}active{% endif %}" href="{{ url }}&label=PERSONAL">Primary</a>
  <a class="nav-link {% if label == 'PROMOTIONS' %}active{% endif %}" href="{{ url }}&label=PROMOTIONS">Promotions</a>
  <a class="nav-link {% if label == 'SOCIAL' %}active{% endif %}" href="{{ url }}&label=SOCIAL">Social</a>
  <a class="nav-link {% if label == 'UPDATES' %}active{% endif %}" href="{{ url }}&label=UPDATES">Update</a>
</nav>
    <ul class="pagination">
    <li class="page-link">{{ data|get_count_info }}</li>

    <li class="page-item"><a class="page-link" href="{{ data|get_key:'previous' }}">Previous</a></li>

    <li class="page-item"><a class="page-link" href="{{ data|get_key:'next' }}">Next</a></li>

  </ul>

</nav>
<div style="height=20px;"></div>


<div class="tab-content" id="myTabContent">
   <div class="table-responsive">
      <table class="table">
          <tbody>

          {% for d  in data.results  %}
            <tr style="box-shadow:rgba(218, 220, 224) 1px 0px 0px 0px inset, rgba(218, 220, 224) -1px 0px 0px 0px inset, rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;cursor:pointer;">
                <td class="action"><input type="checkbox" /></td>
                <td class="action"><i class="fa fa-star-o"></i></td>
                <td class="action"><i class="fa fa-bookmark-o"></i></td>
                <td class="name"><a>{{ d|get_sender}}</a></td>
                <td>
                <div>
                    <div class="subject"><a> {{ d|get_subject }}</a></div>
                    <div class="subject" style="font-size: 12px;"><a> {{ d.snippet }}</a></div>
                </div>
                </td>
                {% if d.auto_response != "DONE" %}
                <td>
                 <form>
                     <input name="send_auto_response_id" value="{{ d.id }}" hidden>
                 <button type="submit" class="btn btn-outline-success" style="height: 30px; padding: 0px; padding-left: 10px; padding-right: 10px; font-size: 10px;">Auto Response</button>
                </form>
                </td>
                {% else %}
                <td>
                    <img src="https://cdn-icons-png.flaticon.com/512/6559/6559073.png" width="20", height="20" align="center" >
                </td>
                {% endif %}
                <td class="time">{{ d|get_date }}</td>
            </tr>
          {% endfor %}
      </tbody></table>
  </div>
</div>
{% if data.count == 0 %}
<div class="no_email">
   <li> NO Emails.</li>
</div>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


</body>
</html>
